.accordion-page {
	margin: 2rem;

	h1 {
		margin: 2rem;
	}
}

.accordion {
	margin: 1rem 0;
	border: 1px solid $inset-dark;
	border-radius: 8px;
	@include neumorph-offset(1rem, -0.1rem, 0.1rem, 1rem);

	input {
		display: none;
	}

	.tab {
		overflow: hidden;
		border-bottom: 1px solid $inset-dark;
	}

	.tab:last-child {
		border: none;
	}

	label {
		padding: 1rem;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;

		i {
			transition: all 0.35s;
		}
	}
	.accordion__content {
		max-height: 0;
		visibility: hidden;
		color: #2c3e50;
		padding: 0 1rem;
		-webkit-transition: all 0.35s;
		transition: all 0.35s;
	}

	input[type="checkbox"]:checked ~ .accordion__content {
		visibility: visible;
		padding: 1rem;
		max-height: 100vh;
	}

	input[type="checkbox"]:checked ~ i {
		transform: rotate(90deg);
	}
}

.accordion-multiple {
	input[type="radio"]:checked ~ .accordion__content {
		visibility: visible;
		padding: 1rem;
		max-height: 100vh;
	}

	input[type="radio"]:checked ~ i {
		transform: rotate(90deg);
	}
}
