/*---------------------------------------------
Component - Footer
---------------------------------------------*/
.trikone__footer {
  text-align: center;
  padding: 5rem 2rem;
  background-color: $bg-color;
  color: $black-stan;
  a:not(.logo) {
    // color:
    &:hover {
      color: $orange-summer;
    }
    &:active {
      //   color:
    }
    &:focus {
      //   color:
    }
  }
  &__nav-items {
    display: flex;
    justify-content: center;

    max-width: 22rem;
    margin: 0 auto;
    padding: 1rem 0;
  }
  &__nav-item {
    margin-right: 20px;
    a {
      font-weight: 700;
    }
    // Till we include internal SVGs
    img {
      width: 2rem;
    }
  }
  &__nav-item:last-child {
    margin-right: 0;
  }
}
