// SWITCH
.switch-holder {
    display: flex;
    padding: $padding-vertical $padding-horizontal;
    width: 20rem;
    height: 5rem;
    border-radius: .6rem;
    margin-bottom: 2rem;
    @include neumorph-offset(0.5rem, -0.1rem, 0.1rem, 1rem);
    justify-content: space-between;
    align-items: center;
}

.switch {
    font-size: .9rem;
    width: 100%;
    margin: .9rem 0;
    display: flex;
    justify-content: space-around;
}
.switch-label {
    width: 8rem;
}

.switch-label i {
    margin-right: .5rem;
}

.switch-toggle {
    height: 2.5rem;
}

.switch-toggle input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -2;
}

.switch-toggle input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    width: 5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    margin: 0;
    cursor: pointer;
    @include neumorph-inset(0.2rem, -0.2rem, 0.5rem);
    
}

.switch-toggle input[type="checkbox"] + label::before {
    position: absolute;
    content: 'OFF';
    font-size: 0.65rem;
    text-align: center;
    line-height: 1.25rem;
    top: .5rem;
    left: .5rem;
    width: 2.8rem;
    height: 1.5rem;
    border-radius: 1.25rem;
    background-color: $bg-color;
    @include neumorph-offset(0.5rem, -0.1rem, 0.1rem, 1rem);
    transition: .3s ease-in-out;
}

.switch-toggle input[type="checkbox"]:checked + label::before {
    left: 30%;
    content: 'ON';
    color: $blue-fresh;
    @include neumorph-offset(0.5rem, -0.1rem, 0.1rem, 1rem);
}

// Togle - Switch

.toggle-switch {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 44%;
    @include neumorph-offset(0.5rem, -0.1rem, 0.1rem, 1rem);
    border-radius: 5rem;
  
  }
  input[type="checkbox"]{
    position: absolute;
    -webkit-appearance:none;
    height: 5rem;
    width: 10rem;
    @include neumorph-inset(0.2rem, -0.2rem, 0.5rem);
    cursor: pointer;
    left: 1rem;
    outline: none;
    border-radius: 3rem;
  }
  input[type="checkbox"]:before,
  input[type="checkbox"]:after{
    content: "";
    position: absolute;
    margin:auto;
    top: 0;
    bottom: 0;
    transition: 0.3s;
  }
  input[type="checkbox"]:before{
    height: 3rem;
    width: 3rem;
    background-color:$bg-color;
    border-radius: 50%;
    @include neumorph-offset(0.5rem, -0.1rem, 0.1rem, 1rem);
    left: 1rem;
  }
  input[type="checkbox"]:after{
    height: 1rem;
    width: 1rem;
    background-color: $bg-color;
    border-radius: 50%;
    right: -4rem;
  }
  input[type="checkbox"]:checked:before{
    left: 6rem;
  }
  input[type="checkbox"]:checked:after{
    background-color: $green-fauna;
  }
  