.neumorphism__main {
  // Section: Hero Section
  &__hero {
    padding-top: 10rem;
  }

  // Section: Internal links for components
  &__component-links {
    // padding-top: 10rem;
    .grid {
      grid-template-columns: repeat(auto-fit, 150px);
    }
    li {
    }
  }

  // Section: All components
  &__all-components {
    &__component {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      margin: 0.5rem 2rem;
      padding: 1rem;
      .component-display {
        // border: 3px solid mediumaquamarine;
      }
      .component-html {
        // border: 3px solid saddlebrown;
        padding: 0 1rem;
      }
      .component-style {
        // border: 3px solid teal;
        padding: 0 1rem;
      }
    }
  }
}
