<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accordion Component</title>
    <link rel="stylesheet" href="../../stylesheets/main.css" />
  </head>
  <body class="accordion-page">
    <main>
      <h1 class="text-center">Accordion</h1>

        <h2>Fixed Type Accordion</h2>
        <div class="accordion">
            <div class="tab">
                <label> <h5>अनुमान</h5>
                    <input type="radio" checked name="multiple-accordion">
                    <i class="fas fa-chevron-right"></i>
                    <div class="accordion__content">
                                    गति से ज़्यादा अनुमान पर भरोसा करना क्या उचित है? यदि आपसे पहले
                                    आपके प्रतिद्वंद्वी को मौका मिल गया तो क्या आप इससे उबर पाएंगे? गति
                                    से ज़्यादा अनुमान पर भरोसा करना क्या उचित है? यदि आपसे पहले आपके
                                    प्रतिद्वंद्वी को मौका मिल गया तो क्या आप इससे उबर पाएंगे? गति से
                                    ज़्यादा अनुमान पर भरोसा करना क्या उचित है? यदि आपसे पहले आपके
                                    प्रतिद्वंद्वी को मौका मिल गया तो क्या आप इससे उबर पाएंगे?
                    </div>
                </label>
            </div>

            <div class="tab">
                <label> <h5>దీనిపై క్లిక్ చేయండి</h5>
                    <input type="radio" name="multiple-accordion">
                    <i class="fas fa-chevron-right"></i>
                    <div class="accordion__content">
            మా ఊరి ప్రజలు అందరు వ్యవసాయం మీద ఆధారపడి ఉన్నారు. చేసే పని ఏదైన
            సరే ఆనందంగా,ఆహ్లాదకరంగా ఏంతో నైపుణ్యంతో చేస్తూ ఉంటారు.
            కూరగాయలు,వరి,అరటి పళ్లు,పసుపు,నూగూ... ఇలా అనేక రకాలుగా పంటల సాగు
            చేస్తూ కొద్దిపాటి దేశ ప్రజలకు ఆహరం అందించడం లో మా ఊరు కూడ ఒక కీలక
            పాత్ర పోషిస్తూ రైతే దేశానికి వెన్నెముక అనే నానుడిని నిజం చేస్తూ
            ఉంది.
                    </div>
                </label>
            </div>
          </label>
        </div>

            <h2>Fluid Accordion</h2>
            <div class="accordion accordion-multiple">
                <div class="tab">
                    <label>
                        <h5>Features</h5>
                        <input type="checkbox">
                        <i class="fas fa-chevron-right"></i>
                        <div class="accordion__content">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi natus ducimus facilis maiores rem
                            deserunt reprehenderit, quam quo quia fugit, voluptate enim minima sapiente velit saepe illo. Velit,
                            officia aspernatur.Eaque laboriosam repudiandae ipsum voluptatum animi. Minus repudiandae non sunt
                            aliquam delectus laboriosam? Maxime voluptatibus ea quod eum eligendi temporibus architecto,
                            assumenda dolorum, fugiat labore exercitationem, dolores et qui iusto!
                        </div>
                    </label>
                </div>

                <div class="tab">
                    <label>
                        <h5>Work With Us</h5>
                        <input type="checkbox">
                        <i class="fas fa-chevron-right"></i>
                        <div class="accordion__content">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi natus ducimus facilis maiores rem
                            deserunt reprehenderit, quam quo quia fugit, voluptate enim minima sapiente velit saepe illo. Velit,
                            officia aspernatur.Eaque laboriosam repudiandae ipsum voluptatum animi. Minus repudiandae non sunt
                            aliquam delectus laboriosam? Maxime voluptatibus ea quod eum eligendi temporibus architecto,
                            assumenda dolorum, fugiat labore exercitationem, dolores et qui iusto!
                        </div>
                    </label>
                </div>
            </div>
    </main>
  </body>
</html>
