<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accordion Component</title>
    <link rel="stylesheet" href="../../stylesheets/main.css">
</head>
<body class="accordion-page">
    <main>
        <h1 class="text-center">Accordion</h1>

        <h2>Multiple Checked Accordion</h2>
        <div class="accordion">
            <div class="tab">
                <label> <h5>About Us</h5>
                    <input type="radio" checked name="multiple-accordion">
                    <i class="fas fa-chevron-right"></i>
                    <div class="accordion__content">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi natus ducimus facilis maiores rem
                        deserunt reprehenderit, quam quo quia fugit, voluptate enim minima sapiente velit saepe illo. Velit,
                        officia aspernatur.Eaque laboriosam repudiandae ipsum voluptatum animi. Minus repudiandae non sunt
                        aliquam delectus laboriosam? Maxime voluptatibus ea quod eum eligendi temporibus architecto,
                        assumenda dolorum, fugiat labore exercitationem, dolores et qui iusto!
                    </div>
                </label>
            </div>
        
            <div class="tab">
                <label> <h5>Why Us</h5>
                    <input type="radio" name="multiple-accordion">
                    <i class="fas fa-chevron-right"></i>
                    <div class="accordion__content">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi natus ducimus facilis maiores rem
                        deserunt reprehenderit, quam quo quia fugit, voluptate enim minima sapiente velit saepe illo. Velit,
                        officia aspernatur.Eaque laboriosam repudiandae ipsum voluptatum animi. Minus repudiandae non sunt
                        aliquam delectus laboriosam? Maxime voluptatibus ea quod eum eligendi temporibus architecto,
                        assumenda dolorum, fugiat labore exercitationem, dolores et qui iusto!
                    </div>
                </label>
            </div>
        </div>

        <h2>Signal Checked Accordion</h2>
        <div class="accordion accordion-multiple">
            <div class="tab">
                <label> <h5>Features</h5>
                    <input type="checkbox">
                    <i class="fas fa-chevron-right"></i>
                    <div class="accordion__content">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi natus ducimus facilis maiores rem
                        deserunt reprehenderit, quam quo quia fugit, voluptate enim minima sapiente velit saepe illo. Velit,
                        officia aspernatur.Eaque laboriosam repudiandae ipsum voluptatum animi. Minus repudiandae non sunt
                        aliquam delectus laboriosam? Maxime voluptatibus ea quod eum eligendi temporibus architecto,
                        assumenda dolorum, fugiat labore exercitationem, dolores et qui iusto!
                    </div>
                </label>
            </div>

            <div class="tab">
                <label> <h5>Work With Us</h5>
                    <input type="checkbox">
                    <i class="fas fa-chevron-right"></i>
                    <div class="accordion__content">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi natus ducimus facilis maiores rem
                        deserunt reprehenderit, quam quo quia fugit, voluptate enim minima sapiente velit saepe illo. Velit,
                        officia aspernatur.Eaque laboriosam repudiandae ipsum voluptatum animi. Minus repudiandae non sunt
                        aliquam delectus laboriosam? Maxime voluptatibus ea quod eum eligendi temporibus architecto,
                        assumenda dolorum, fugiat labore exercitationem, dolores et qui iusto!
                    </div>
                </label>
            </div>
        </div>

    </main>
</body>
</html>