<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/stylesheets/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Default Aletrs -->
    <section class="Default-Alerts container">
        <!-- OFFSET -->
        <div class="row flex">
            <div>
                <div class="alert alert-success shadow-offset" >
                    <span class="alert-inner--text"><strong>Confirmation Alert:</strong> This alert confirms that your action was a success!</span>
                </div>
            </div>
        </div>
        <!-- INSET -->
        <div class="row flex">
            <div>
                <div class="alert alert-warning shadow-inset" >
                    <span class="alert-inner--text"><strong>Danger Alert:</strong> This alert highlights that your action can result in an error!</span>
                </div>
            </div>
        </div>
    </section>

    <!-- ICONS -->
    <section class="Icons-Alerts container row">
        <!-- OFFSET -->
        <div class="alert alert-success shadow-offset row" >
            <div>
                <span class="alert-inner--icon"><i class="far fa-check-circle"></i></span></span>
                <span class="alert-inner--text"><strong>Confirmed!</strong> No issues in site.</span>
            </div>
            <label for="close-button"><i class="fas fa-times"></i></label>
            <input type="checkbox" class="toggle" id="close-button">
        </div>
        <!-- INSET -->
        <div class="alert alert-warning shadow-inset row" >
            <div>
                <span class="alert-inner--icon"><span class="fas fa-exclamation-circle"></span></span>
                <span class="alert-inner--text "><strong>Wait!</strong> There could be trouble ahead!</span>
            </div>
            <label for="close-button"><i class="fas fa-times"></i></label>
            <input type="checkbox" class="toggle" id="close-button">
        </div>
    </section>

    <!-- Extra-Content -->
    <section class="Extra-content-Alerts container">
        <!-- OFFSET -->
        <div class="alert alert-success shadow-offset">
            <div>
                <span class="alert-inner--icon"><i class="far fa-check-circle"></i></span></span>
            <span class="alert-heading">Confirm!</span>
            </div>
            <div>
                <p><i class="fas fa-check"></i>triKone is a humble abode of design enthusiasts. We work hard to look stylish. Sometimes, we might looks like posers, but maybe that's just you!</p>
            </div>
            <div>
                <p><i class="fas fa-check"></i>Design choices are not made by designers! They are made by the customers.</p>
            </div>
        </div>
        <!-- INSET -->
        <div class="alert alert-warning shadow-inset">
            <div>
                <span class="alert-inner--icon"><span class="fas fa-exclamation-circle"></span></span>
            <span class="alert-heading">Warning!</span>
            </div>
            <div>
                <p><i class="fas fa-times"></i>triKone is a humble abode of design enthusiasts. We work hard to look stylish. Sometimes, we might looks like posers, but maybe that's just you!</p>
            </div>
            <div>
                <p><i class="fas fa-times"></i>Design choices are not made by designers! They are made by the customers.</p>
            </div>
        </div>
    </section>
</body>
</html>