<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/stylesheets/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap" rel="stylesheet">
</head>
<body class="button-wrapper">
    <section class="button-container">
        <a class="button button-click">Click Me</a>
        <a class="button button-hover">Hover</a>
        <a class="button button-clicked">Clicked</a>
    </section>
        <div class='flex-center_space-between'>
            <div class='social-button flex-center facebook'>
              <i class="fab fa-facebook-f fa-2x"></i>
            </div>
            <div class='social-button flex-center twitter'>
              <i class="fab fa-twitter fa-2x"></i>
            </div>
            <div class='social-button flex-center github'>
              <i class="fab fa-github fa-2x"></i>
            </div>
            <div class='social-button flex-center instagram'>
              <i class="fab fa-instagram fa-2x"></i>
            </div>
          </div>
    </section>
    <section class="Social-media-bar row">
        <div class="social-media-bar facebook shadow-offset flex-center" >
            <span class="alert-inner--icon"><span class="fab fa-facebook-f fa-2x"></span></span>
            <span class="alert-inner--text social-media-text"> Login with <strong>Facebook</strong></span>
        </div>
    </section>    
    <section class="Social-media-bar row">
        <div class="social-media-bar twitter button-hover shadow-offset flex-center" >
            <span class="alert-inner--icon"><i class="fab fa-twitter fa-2x"></i></span>
            <span class="alert-inner--text social-media-text"> Login with <strong>Twitter</strong></span>
        </div>
    </section>    
    <section class="Social-media-bar row">
        <div class="social-media-bar github shadow-offset button-clicked flex-center" >
            <span class="alert-inner--icon"><i class="fab fa-github fa-2x"></i></span>
            <span class="alert-inner--text social-media-text">Login with <strong>Github</strong></span>
        </div>
    </section>    
</body>
</html>