<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card</title>
    <link rel="stylesheet" href="../../stylesheets/main.css" />
  </head>
  <body class="card-container">
    <div class="card">
      <div class="card__img">
        <img
          src="../../images/profile/profile-female.jpg"
          alt="placeholder image"
        />
      </div>
      <div class="card__text">
        <h5 class="card__title">Heading Text</h5>
        <p class="card__para">
          Keep building that new binder. There was once a new rainbow that
          spanned the whole bridge. Now it doesn't. It probably needs your
          support.
        </p>
        <a class="card__button" href="#">This Link Here</a>
      </div>
    </div>

    <div class="card--inset">
      <div class="card__img">
        <img
          src="../../images/profile/profile-female.jpg"
          alt="placeholder image"
        />
      </div>
      <div class="card__text--center">
        <h5 class="card__title">పల్లె వ్యవసాయం</h5>
        <p class="card__para">
          మా ఊరి ప్రజలు అందరు వ్యవసాయం మీద ఆధారపడి ఉన్నారు. చేసే పని ఏదైన సరే
          ఆనందంగా,ఆహ్లాదకరంగా ఏంతో నైపుణ్యంతో చేస్తూ ఉంటారు. కూరగాయలు,వరి,అరటి
          పళ్లు,పసుపు,నూగూ...
        </p>
        <a class="card__button--inset" href="#">దీనిపై క్లిక్ చేయండి</a>
      </div>
    </div>

    <div class="card">
      <div class="card__img--inside">
        <img
          src="../../images/profile/profile-female.jpg"
          alt="placeholder image"
        />
      </div>
      <div class="card__text">
        <h5 class="card__title">आरम्भ करे प्रसन्न</h5>
        <p class="card__para">
          एक प्रोजेक्ट जब शुरू होता है, तो उसमें सभी की आवश्यकता होती है. यदि
          हमसे किसी को अपेक्षा नहीं तो हमें स्वयं से अपेक्षित होना क्या आवश्यक
          नहीं?
        </p>
        <a class="card__button" href="#">चलें उधर?</a>
      </div>
    </div>

    <div class="card">
      <div class="card__img--rounded">
        <img
          src="../../images/profile/profile-male-04.png"
          alt="placeholder image"
        />
      </div>
      <div class="card__text">
        <h5 class="card__title">Heading Text</h5>
        <p class="card__para">
          There are many ways you can fill this void. Not one of them is the
          right one. Maybe I don't understand what I am putting across.
        </p>
        <a class="card__button" href="#">Go somewhere</a>
      </div>
    </div>

    <div class="card">
      <div class="card__img--rounded">
        <img
          src="../../images/profile/profile-male-02.jpg"
          alt="placeholder image"
        />
      </div>
      <div class="card__text">
        <h5 class="card__title">పల్లె వ్యవసాయం</h5>
        <p class="card__para">
          ఇలా అనేక రకాలుగా పంటల సాగు చేస్తూ కొద్దిపాటి దేశ ప్రజలకు ఆహరం అందించడం
          లో మా ఊరు కూడ ఒక కీలక పాత్ర పోషిస్తూ రైతే దేశానికి వెన్నెముక అనే
          నానుడిని నిజం చేస్తూ ఉంది.
        </p>
        <ul class="card__icons--left">
          <li class="card__icons__item">
            <a href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="card__icons__item">
            <a href="#"><i class="fab fa-github"></i></a>
          </li>
          <li class="card__icons__item">
            <a href="#"><i class="fab fa-facebook"></i></a>
          </li>
        </ul>
        <a class="card__button--inset" href="#">దీనిపై క్లిక్ చేయండి</a>
      </div>
    </div>

    <div class="card">
      <div class="card__img--rounded">
        <img
          src="../../images/profile/profile-male-03.png"
          alt="placeholder image"
        />
      </div>
      <div class="card__text--center">
        <h5 class="card__title">Heading Text</h5>
        <p class="card__para">
          Lorem ipsum is the brightest burning text in the history of
          beaver-kind. The colony of the beavers was unsurprisingly unperturbed
          by this mention.
        </p>
        <ul class="card__icons--center">
          <li class="card__icons__item">
            <a href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="card__icons__item">
            <a href="#"><i class="fab fa-github"></i></a>
          </li>
          <li class="card__icons__item">
            <a href="#"><i class="fab fa-facebook"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card__text">
        <h5 class="card__title">यह ख़ुशी अकेली नहीं</h5>
        <p class="card__para">
          सुख में चेहरा खिल जायेगा तो दुख में मुरझा जायेगा. यदि एक से लगाव तो
          दुसरे से गुरेज क्यूँ? मिलके किये गए प्रयास में तो इसे याद रखना ही
          होगा.
        </p>
        <a class="card__button" href="#">उधर चलें?</a>
      </div>
    </div>
  </body>
</html>
