<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../stylesheets/main.css">
</head>
<body class="form-container flex-switch">
  <!-- login form -->
    <form class="form" action="" method="">
        <div class="form__title">
          <h3>Login form title</h3>
        </div>
        <div class="form__inputs">
          <label for="username">Username:</label>
          <input class="form__input" type="text" placeholder="Enter your name" name="username" required>
      
          <label for="password">Password:</label>
          <input class="form__input" type="password" placeholder="Enter password" name="password" required>
      
          <div class="">
            <button class="form__submit" type="submit">Login</button>
          </div>
        </div>
        <div class="form__options flex">
          <a class="" href="#">Forgot password?</a>
          <button type="submit" class="form__cancel">Cancel</button>
        </div>
    </form>

    <!-- register form -->

    <form class="form" action="" method="">
      <div class="form__title">
        <h3>Register form title</h3>
      </div>
      <div class="form__inputs">
        <label for="username">Username:</label>
        <input class="form__input" type="text" placeholder="Enter your name" name="username" required>

        <label for="useremail">Email:</label>
        <input class="form__input" type="email" placeholder="Enter your email" name="useremail" required>
    
        <label for="password">Password:</label>
        <input class="form__input" type="password" placeholder="Enter password" name="password" required>
    
        <div class="">
          <button class="form__submit" type="submit">Register</button>
        </div>
      </div>
    </form>
 

    <!-- login form -->
    <form class="form--inset" action="" method="">
      <div class="">
        <label for="username">Username:</label>
        <input class="form__input--offset" type="text" placeholder="Enter your name" name="username" required>
    
        <label for="password">Password:</label>
        <input class="form__input--offset" type="password" placeholder="Enter password" name="password" required>
    
        <div class="">
          <div class="form__terms">
            <input type="checkbox" checked="checked">
            <label>Remember me</label>
          </div>
          <button class="form__submit--inset" type="submit">Login</button>
        </div>
      </div>
      <div class="form__options flex">
        <a class="" href="#">Forgot password?</a>
        <button type="submit" class="form__cancel--offset">Cancel</button>
      </div>
    </form>

    <!-- Register form -->

    <form class="form--inset" action="" method="">
      <div class="">
        <label for="username">Username:</label>
        <input class="form__input--offset" type="text" placeholder="Enter your name" name="username" required>
        
        <label for="useremail">Email:</label>
        <input class="form__input" type="email" placeholder="Enter your email" name="useremail" required>

        <label for="password">Password:</label>
        <input class="form__input--offset" type="password" placeholder="Enter password" name="password" required>
    
        <div class="">
          <div class="form__terms">
            <input type="checkbox" checked="checked">
            <label>Terms & conditions</label>
          </div>
          <button class="form__submit--inset" type="submit">Sign Up</button>
        </div>
      </div>
    </form>

    <!-- login form -->
    <form class="form--inset" action="" method="">
      <div class="form__img">
        <img src="https://via.placeholder.com/150" alt="placeholder image">
      </div>
      <div class="">
        <label for="username">Username:</label>
        <input class="form__input--offset" type="text" placeholder="Enter your name" name="username" required>
    
        <label for="password">Password:</label>
        <input class="form__input--offset" type="password" placeholder="Enter password" name="password" required>
    
        <div class="flex">
          <div class="form__terms">
            <input type="checkbox" checked="checked">
            <label>Remember me</label>
          </div>
          <button class="form__submit--inset" type="submit">Login</button>
        </div>
      </div>
      <div class="form__options flex">
        <a class="" href="#">Forgot password?</a>
        <button type="submit" class="form__cancel--offset">Cancel</button>
      </div>
    </form>

    <!-- Register form -->

    <form class="form--inset" action="" method="">
      <div class="form__img">
        <img src="https://via.placeholder.com/150" alt="placeholder image">
      </div>
      <div class="">
        <label for="username">Username:</label>
        <input class="form__input--offset" type="text" placeholder="Enter your name" name="username" required>
        
        <label for="useremail">Email:</label>
        <input class="form__input" type="email" placeholder="Enter your email" name="useremail" required>

        <label for="password">Password:</label>
        <input class="form__input--offset" type="password" placeholder="Enter password" name="password" required>
    
        <div class="flex">
          <div class="form__terms">
            <input type="checkbox" checked="checked">
            <label>Terms & conditions</label>
          </div>
          <button class="form__submit--inset" type="submit">Register</button>
        </div>
      </div>
    </form>

    <!-- login form -->
    <form class="form--inset" action="" method="">
      <div class="">
        <div class="inline-inputs">
          <label for="username">Username:</label>
          <input class="form__input--inline" type="text" placeholder="Enter your name" name="username" required>
        </div>

        <div class="inline-inputs">
          <label for="password">Password:</label>
        <input class="form__input--inline" type="password" placeholder="Enter password" name="password" required>
        </div>
        
        <div class="flex">
          <div class="form__terms">
            <input type="checkbox" checked="checked">
            <label>Remember me</label>
          </div>
          <button class="form__submit--inset" type="submit">Register</button>
        </div>
      </div>
      <div class="form__options flex">
        <a class="" href="#">Forgot password?</a>
        <button type="submit" class="form__cancel--offset">Cancel</button>
      </div>
    </form>

    <!-- Register form -->

    <form class="form--inset" action="" method="">
      <div class="">
        <div class="inline-inputs">
          <label for="username">Username:</label>
          <input class="form__input--inline" type="text" placeholder="Enter your name" name="username" required>
        </div>
        
        <div class="inline-inputs">
          <label for="useremail">Email:</label>
          <input class="form__input--inline" type="email" placeholder="Enter your email" name="useremail" required>
        </div>

        <div class="inline-inputs">
          <label for="password">Password:</label>
        <input class="form__input--inline" type="password" placeholder="Enter password" name="password" required>
        </div>
        
        <div class="flex">
          <div class="form__terms">
            <input type="checkbox" checked="checked">
            <label>Terms & conditions</label>
          </div>
          <button class="form__submit--inset" type="submit">Register</button>
        </div>
      </div>
    </form>

    <!-- login form -->
    <form class="form" action="" method="">
      <div class="form__title--center">
        <h3>Login form title</h3>
      </div>
      <div class="">
        <div class="inline-inputs">
          <label for="username">Username:</label>
          <input class="form__input--inline" type="text" placeholder="Enter your name" name="username" required>
        </div>
        
        <div class="inline-inputs">
          <label for="password">Password:</label>
        <input class="form__input--inline" type="password" placeholder="Enter password" name="password" required>
        </div>
        
        <div class="form__center-container">
          <div class="form__terms--center">
            <input type="checkbox" checked="checked">
            <label>Remember me</label>
          </div>
          <button class="form__submit" type="submit">Login</button>
        </div>
      </div>
      <div class="form__options flex">
        <a class="" href="#">Forgot password?</a>
        <button type="submit" class="form__cancel--offset">Cancel</button>
      </div>
    </form>

    <!-- Register form -->

    <form class="form" action="" method="">
      <div class="form__title--center">
        <h3>Sign Up form title</h3>
      </div>
      <div class="">
        <div class="inline-inputs">
          <label for="username">Username:</label>
          <input class="form__input--inline" type="text" placeholder="Enter your name" name="username" required>
        </div>
        
        <div class="inline-inputs">
          <label for="useremail">Email:</label>
          <input class="form__input--inline" type="email" placeholder="Enter your email" name="useremail" required>
        </div>

        <div class="inline-inputs">
          <label for="password">Password:</label>
        <input class="form__input--inline" type="password" placeholder="Enter password" name="password" required>
        </div>
        
        <div class="form__center-container">
          <div class="form__terms--center">
            <input type="checkbox" checked="checked">
            <label>Terms & conditions</label>
          </div>
          <button class="form__submit" type="submit">Register</button>
        </div>
      </div>
    </form>

    <!-- login form -->
    <form class="form" action="" method="">
      <div class="form__img">
        <img src="https://via.placeholder.com/150" alt="placeholder image">
      </div>
      <div class="">
        <div class="inline-inputs">
          <label for="username">Username:</label>
          <input class="form__input--inline" type="text" placeholder="Enter your name" name="username" required>
        </div>
        
        <div class="inline-inputs">
          <label for="password">Password:</label>
        <input class="form__input--inline" type="password" placeholder="Enter password" name="password" required>
        </div>
        
        <div class="form__center-container">
          <div class="form__terms--center">
            <input type="checkbox" checked="checked">
            <label>Remember me</label>
          </div>
          <button class="form__submit" type="submit">Login</button>
        </div>
      </div>
      <div class="form__options flex">
        <a class="" href="#">Forgot password?</a>
        <button type="submit" class="form__cancel--offset">Cancel</button>
      </div>
    </form>

    <!-- Register form -->

    <form class="form" action="" method="">
      <div class="form__img">
        <img src="https://via.placeholder.com/150" alt="placeholder image">
      </div>
      <div class="">
        <div class="inline-inputs">
          <label for="username">Username:</label>
          <input class="form__input--inline" type="text" placeholder="Enter your name" name="username" required>
        </div>
        
        <div class="inline-inputs">
          <label for="useremail">Email:</label>
          <input class="form__input--inline" type="email" placeholder="Enter your email" name="useremail" required>
        </div>

        <div class="inline-inputs">
          <label for="password">Password:</label>
        <input class="form__input--inline" type="password" placeholder="Enter password" name="password" required>
        </div>
        
        <div class="form__center-container">
          <div class="form__terms--center">
            <input type="checkbox" checked="checked">
            <label>Terms & conditions</label>
          </div>
          <button class="form__submit" type="submit">Sign Up</button>
        </div>
      </div>
    </form>
    
</body>
</html>