<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav's</title>
    <link rel="stylesheet" href="../../stylesheets/main.css">

    <style>
        .nav-page {
            margin: 2rem;
        }
        h1 {
            margin: 2rem;
        }
    
        h3 {
            margin: 2rem 0;
        }
    </style>
</head>
<body class="nav-page">
    <main>
        <h1 class="text-center">
            Navigation
        </h1>

        <div>
            <h3>Nav</h3>
            <nav class="nav">
                <a href="#" class="logo">LOGO</a>

                <label for="navigation"><span class="collapse"></span></label>
                <input type="checkbox" id="navigation">
                <ul class="nav-items">
                    <li class="nav-item"><a href="#">Home</a></li>
                    <li class="nav-item"><a href="#">About Us</a></li>
                    <li class="nav-item"><a href="">Project</a></li>
                    <li class="nav-item"><a href="#">Blog</a></li>
                    <li class="nav-item"><a href="#">Contact Us</a></li>
                </ul>
            </nav>
        </div>

        <div>
            <h3>Dropdown Nav</h3>
            <nav class="nav flex">
                <a href="#" class="logo">LOGO</a>

                <label for="navigation-1"><span class="collapse"></span></label>
                <input type="checkbox" id="navigation-1">
                <ul class="nav-items">
                    <li class="nav-item"><a href="#">Home</a></li>
                    <li class="nav-item__dropdown"><a href="#">Pages</a>
                        <ul class="sub-items">
                            <li class="sub-item"><a href="#">Accordion</a></li>
                            <li class="sub-item"><a href="#">Cards</a></li>
                            <li class="sub-item"><a href="#">Pills</a></li>
                            <li class="sub-item"><a href="#">Buttons</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="#">Components</a></li>
                    <li class="nav-item"><a href="#">Support</a></li>
                </ul>
            </nav>
        </div>

        <div>
            <h3>Multiple Level Dropdown Nav</h3>
            <nav class="nav flex">
                <a href="#" class="logo">LOGO</a>

                <label for="navigation-2"><span class="collapse"></span></label>
                <input type="checkbox" id="navigation-2">
                <ul class="nav-items">
                    <li class="nav-item"><a href="#">Home</a></li>
                    <li class="nav-item__dropdown"><a href="#">Pages</a>
                        <ul class="sub-items">
                            <li class="sub-item sub-item__dropdown"><a href="#">Accordion</a>
                                <ul class="sub-sub-items">
                                    <li class="sub-sub-item"><a href="#">Type 1</a></li>
                                    <li class="sub-sub-item"><a href="#">Type 2</a></li>
                                </ul>
                            </li>
                            <li class="sub-item"><a href="#">Cards</a></li>
                            <li class="sub-item sub-item__dropdown"><a href="#">Buttons</a>
                                <ul class="sub-sub-items">
                                    <li class="sub-sub-item"><a href="#">Type 1</a></li>
                                    <li class="sub-sub-item"><a href="#">Type 2</a></li>
                                </ul>
                            </li>
                            <li class="sub-item"><a href="#">Pills</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="#">Components</a></li>
                    <li class="nav-item"><a href="#">Support</a></li>
                </ul>
            </nav>
        </div>

    </main>
</body>
</html>
