<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/stylesheets/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap" rel="stylesheet">
</head>
<body>
    <!-- SWITCH -->
    <section class="switch container flex-switch">
        <div class="switch-holder">
            <div class="switch-label">
                <i class="fab fa-bluetooth-b"></i><span>Bluetooth</span>
            </div>
            <div class="switch-toggle switch-toggle-bluetooth">
                <input type="checkbox" id="bluetooth">
                <label for="bluetooth"></label>
            </div>
        </div>

        <div class="switch-holder">
            <div class="switch-label">
                <i class="fas fa-wifi"></i><span>wi-fi</span>
            </div>
            <div class="switch-toggle switch-toggle-wifi">
                <input type="checkbox" id="wifi">
                <label for="wifi"></label>
            </div>
        </div>

        <div class="switch-holder">
            <div class="switch-label">
                <i class="fas fa-map-marker-alt"></i></i><span>Location</span>
            </div>
            <div class="switch-toggle switch-toggle-location">
                <input type="checkbox" id="location">
                <label for="location"></label>
            </div>
        </div>
    </section>
    <section class="Toggle-switch container">
        <div class="toggle-switch">
            <input type="checkbox" class="slider">
        </div>        
    </section>
</body>
</html>
