<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accordion Component</title>
    <link rel="stylesheet" href="../../stylesheets/main.css">
</head>

<body class="tooltip-page">
    <main>
        <h1 class="text-center">Tooltip</h1>

        <div class="tooltips flex">
            <a class="tooltip">Tooltip Top <span class="tooltip-top">Top</span></a>
            <a class="tooltip">Tooltip Bottom<span class="tooltip-bottom">Bottom</span></a>
            <a class="tooltip">Tooltip Left<span class="tooltip-left">Left</span></a>
            <a class="tooltip">Tooltip Right<span class="tooltip-right">Right</span></a>
        </div>
    </main>
</body>

</html>