<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="../../stylesheets/main.css">
</head>
<body class="card-container">
    <div class="card">
        <div class="card__img">
            <img src="https://images.unsplash.com/photo-1591961310354-91ca99664c65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="placeholder image">
        </div>
        <div class="card__text">
            <h5 class="card__title">Card title</h5>
            <p class="card__para">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="card__button" href="#">Go somewhere</a>
        </div>
    </div>


    <div class="card--inset">
        <div class="card__img">
            <img src="https://images.unsplash.com/photo-1591961310354-91ca99664c65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="placeholder image">
        </div>
        <div class="card__text--center">
            <h5 class="card__title">Card title</h5>
            <p class="card__para">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="card__button--inset" href="#">Go somewhere</a>
        </div>
    </div>


    <div class="card">
        <div class="card__img--inside">
            <img src="https://images.unsplash.com/photo-1591961310354-91ca99664c65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="placeholder image">
        </div>
        <div class="card__text">
            <h5 class="card__title">Card title</h5>
            <p class="card__para">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="card__button" href="#">Go somewhere</a>
        </div>
    </div>

    
    <div class="card">
        <div class="card__img--rounded">
            <img src="https://via.placeholder.com/300" alt="placeholder image">
        </div>
        <div class="card__text">
            <h5 class="card__title">Card title</h5>
            <p class="card__para">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="card__button" href="#">Go somewhere</a>
        </div>
    </div>

    <div class="card">
        <div class="card__img--rounded">
            <img src="https://via.placeholder.com/300" alt="placeholder image">
        </div>
        <div class="card__text">
            <h5 class="card__title">Card title</h5>
            <p class="card__para">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <ul class="card__icons--left">
                <li class="card__icons__item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li class="card__icons__item"><a href="#"><i class="fab fa-github"></i></a></li>
                <li class="card__icons__item"><a href="#"><i class="fab fa-facebook"></i></a></li>
            </ul>
            <a class="card__button--inset" href="#">Go somewhere</a>
        </div>
    </div>

    <div class="card">
        <div class="card__img--rounded">
            <img src="https://via.placeholder.com/300" alt="placeholder image">
        </div>
        <div class="card__text--center">
            <h5 class="card__title">Card title</h5>
            <p class="card__para">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <ul class="card__icons--center">
                <li class="card__icons__item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li class="card__icons__item"><a href="#"><i class="fab fa-github"></i></a></li>
                <li class="card__icons__item"><a href="#"><i class="fab fa-facebook"></i></a></li>
            </ul>
        </div>
    </div>
    
    <div class="card">
        <div class="card__text">
            <h5 class="card__title">Card title</h5>
            <p class="card__para">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="card__button" href="#">Go somewhere</a>
        </div>
    </div>
</body>
</html>