/* ---------------------------------------------------------------
Import partials
--------------------------------------------------------------- */
/* ---------------------------------------------------------------
CSS Reset (credits to Eric Meyer)
--------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*,
*:after,
*:before {
  box-sizing: inherit; }

/* ---------------------------------------------------------------
Variables
--------------------------------------------------------------- */
/* Colors Begin */
/* Colors End */
/* Font Values Begin */
/* Font Values End */
/* Media Queries Begin */
/* Media Queries End */
/* Padding Values Begin */
/* Padding Values End*/
/* ---------------------------------------------------------------
Base Styles
--------------------------------------------------------------- */
body {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  background: #e6e7ee; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 700; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.4rem; }

h5 {
  font-size: 1.2rem; }

h6 {
  font-size: 1.1rem; }

label,
input {
  display: block; }

a {
  text-decoration: none;
  color: #1c2321; }

html {
  font-size: 16px; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

@media (max-width: 1024px) {
  html {
    font-size: 14px; } }

@media (max-width: 768px) {
  html {
    font-size: 12px; } }

/* ---------------------------------------------------------------
Modular Classes
--------------------------------------------------------------- */
.flex, .card__icons--left, .card__icons--right, .card__icons--center, .card__icons--left li, .card__icons--right li, .card__icons--center li {
  display: flex;
  justify-content: space-between; }

.grid {
  display: grid; }

.container {
  max-width: 125ch;
  margin: 0 auto;
  padding: 1rem 2rem; }

/* ---------------------------------------------------------------
Mixins
--------------------------------------------------------------- */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3rem;
  align-items: center;
  justify-content: space-evenly;
  margin: 3rem; }

.card, .card--inset {
  max-width: 20rem;
  border-radius: 0.7rem;
  box-shadow: 1rem 1rem 1rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4; }
  .card--inset {
    box-shadow: inset 0.5rem 0.5rem 1rem #c9c9c6, inset -0.5rem -0.5rem 1rem #ffffffef; }
  .card__text--center {
    text-align: center; }
  .card__text, .card__text--center {
    padding: 1rem 1.5rem 1.5rem 1.5rem; }
  .card__para {
    margin: 0.8rem 0 1.2rem 0; }
  .card__button, .card__button--inset {
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: inline-block;
    box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4; }
    .card__button:hover, .card__button--inset:hover {
      box-shadow: inset 0.2rem 0.2rem 0.5rem #c9c9c6, inset -0.2rem -0.2rem 0.5rem #ffffffef; }
  .card__button--inset {
    box-shadow: inset 0.2rem 0.2rem 0.5rem #c9c9c6, inset -0.2rem -0.2rem 0.5rem #ffffffef; }
  .card__img img, .card__img--inside img, .card__img--rounded img {
    width: 100%;
    border-radius: 0.7rem 0.7rem 0 0; }
  .card__img--inside, .card__img--rounded {
    padding: 1.5rem 1.5rem 0 1.5rem; }
    .card__img--inside img, .card__img--rounded img {
      border-radius: 0.7rem; }
  .card__img--rounded img {
    border-radius: 50%; }
  .card__icons--left, .card__icons--right, .card__icons--center {
    justify-content: flex-start;
    margin-bottom: 1rem; }
    .card__icons--left li, .card__icons--right li, .card__icons--center li {
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
      font-size: 2rem;
      border-radius: 50%;
      justify-content: center;
      box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4; }
      .card__icons--left li:hover, .card__icons--right li:hover, .card__icons--center li:hover {
        box-shadow: inset 0.2rem 0.2rem 0.5rem #c9c9c6, inset -0.2rem -0.2rem 0.5rem #ffffffef; }
  .card__icons--right {
    justify-content: flex-end; }
    .card__icons--right li {
      margin-left: 1rem; }
  .card__icons--center {
    justify-content: center; }
    .card__icons--center li {
      margin: 0.5rem; }

.accordion-page {
  margin: 2rem; }
  .accordion-page h1 {
    margin: 2rem; }

.accordion {
  margin: 1rem 0;
  border: 1px solid #c9c9c6;
  border-radius: 8px;
  box-shadow: 1rem 1rem 1rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4; }
  .accordion input {
    display: none; }
  .accordion .tab {
    overflow: hidden;
    border-bottom: 1px solid #c9c9c6; }
  .accordion .tab:last-child {
    border: none; }
  .accordion label {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center; }
    .accordion label i {
      transition: all 0.35s; }
  .accordion .accordion__content {
    max-height: 0;
    visibility: hidden;
    color: #2c3e50;
    padding: 0 1rem;
    -webkit-transition: all 0.35s;
    transition: all 0.35s; }
  .accordion input[type="checkbox"]:checked ~ .accordion__content {
    visibility: visible;
    padding: 1rem;
    max-height: 100vh; }
  .accordion input[type="checkbox"]:checked ~ i {
    transform: rotate(90deg); }

.accordion-multiple input[type="radio"]:checked ~ .accordion__content {
  visibility: visible;
  padding: 1rem;
  max-height: 100vh; }

.accordion-multiple input[type="radio"]:checked ~ i {
  transform: rotate(90deg); }

.trikone__header .container {
  display: flex;
  justify-content: space-between; }
.trikone__header__nav__ul {
  display: flex; }
.trikone__header__nav-items {
  margin-left: 10px; }
  .trikone__header__nav-items :last-child {
    margin-left: 0; }
.trikone__main__hero {
  background-image: url(../images/pollack.svg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 5rem 1rem; }
  .trikone__main__hero img {
    width: 100%; }
  .trikone__main__hero__punchline {
    font-size: 6rem;
    line-height: 8rem; }
    .trikone__main__hero__punchline span {
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
      word-break: break-all;
      word-break: break-word; }
    @media (max-width: 768px) {
      .trikone__main__hero__punchline {
        font-size: 5rem;
        line-height: 6rem; } }
.trikone__main__benefits .container {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px; }
.trikone__main__focus {
  text-align: center;
  padding: 5rem 1rem; }
  .trikone__main__focus__punchline {
    font-size: 6rem;
    line-height: 8rem; }
    @media (max-width: 768px) {
      .trikone__main__focus__punchline {
        font-size: 4rem;
        line-height: 6rem; } }
.trikone__main__component-links {
  border: 3px solid orangered; }
  .trikone__main__component-links .grid {
    grid-template-columns: repeat(auto-fit, 150px); }
  .trikone__main__component-links li {
    border: 3px solid hotpink; }
.trikone__main__all-components__component {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  border: 3px solid goldenrod; }
  .trikone__main__all-components__component .component-html {
    padding: 10px; }
  .trikone__main__all-components__component .component-style {
    padding: 10px; }
.trikone__footer__nav-items {
  display: flex;
  justify-content: space-around; }
.trikone__footer__copyright {
  text-align: center; }

/*---------------------------------------------
Component - Footer
---------------------------------------------*/
.trikone__footer {
  text-align: center;
  padding: 5rem 2rem;
  background-color: #e6e7ee;
  color: #1c2321; }
  @media (min-width: 768px) {
    .trikone__footer {
      padding: 2rem; } }
  .trikone__footer__nav-items {
    max-width: 22rem;
    margin: 0 auto;
    padding: 1rem 0; }
  .trikone__footer__nav-item a {
    font-weight: 700; }
  .trikone__footer__nav-item img {
    width: 2rem; }

/* ---------------------------------------------------------------
Project Specific Styles
--------------------------------------------------------------- */
