@charset "UTF-8";
/* ---------------------------------------------------------------
Import partials
--------------------------------------------------------------- */
/* ---------------------------------------------------------------
CSS Reset (credits to Eric Meyer)
--------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Droid+Sans+Mono");
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* ---------------------------------------------------------------
Variables
--------------------------------------------------------------- */
/* Colors Begin */
/* Colors End */
/* Font Values Begin */
/* Font Values End */
/* Media Queries Begin */
/* Media Queries End */
/* Padding Values Begin */
/* Padding Values End*/
/* ---------------------------------------------------------------
Base Styles
--------------------------------------------------------------- */
body {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  background: #e6e7ee;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

label,
input {
  display: block;
}

a {
  text-decoration: none;
  color: #1c2321;
}

html {
  font-size: 16px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
/* ---------------------------------------------------------------
Modular Classes
--------------------------------------------------------------- */
.flex, .form .inline-inputs, .form--inset .inline-inputs, .form__terms, .form__terms--center, .form__img, .card__icons--center, .card__icons--right, .card__icons--left li, .card__icons--center li, .card__icons--right li, .card__icons--left {
  display: flex;
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.container {
  max-width: 125ch;
  margin: 0 auto;
  padding: 1rem 2rem;
}

/* ---------------------------------------------------------------
Mixins
--------------------------------------------------------------- */
.accordion-page {
  margin: 2rem;
}
.accordion-page h1 {
  margin: 2rem;
}
.accordion-page h2 {
  color: #1c2321;
}

.accordion {
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 1rem 1rem 1rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
}
.accordion input {
  display: none;
}
.accordion .tab {
  overflow: hidden;
  border-bottom: 1px solid #c9c9c6;
}
.accordion .tab:last-child {
  border: none;
}
.accordion label {
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.accordion label i {
  transition: all 0.35s;
}
.accordion .accordion__content {
  max-height: 0;
  visibility: hidden;
  color: #2c3e50;
  padding: 0 1rem;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.accordion input[type=radio]:checked ~ .accordion__content {
  visibility: visible;
  padding: 1rem;
  max-height: 100vh;
}
.accordion input[type=radio]:checked ~ i {
  transform: rotate(90deg);
}

.accordion-multiple input[type=checkbox]:checked ~ .accordion__content {
  visibility: visible;
  padding: 1rem;
  max-height: 100vh;
}
.accordion-multiple input[type=checkbox]:checked ~ i {
  transform: rotate(90deg);
}

.row {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

.row-reverse {
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin: 1rem;
}

.shadow-offset {
  box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
}

.shadow-inset {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c9c9c6, inset -0.2rem -0.2rem 0.5rem #ffffffef;
}

.alert,
.badges {
  padding: 1rem 1.5rem;
  border: #e6e7ee;
  border-radius: 10px;
  margin: 1rem;
  font-size: 0.875rem;
  border: 0.0625rem solid #f3f3f3;
}
.alert .alert-inner--icon,
.badges .alert-inner--icon {
  font-size: 1.25rem;
  margin-right: 0.375rem;
}
.alert .alert-inner--text,
.alert .badges-text,
.badges .alert-inner--text,
.badges .badges-text {
  display: inline-block;
  font-weight: 300;
}
.alert .alert-inner--text a,
.alert .badges-text a,
.badges .alert-inner--text a,
.badges .badges-text a {
  font-weight: 500;
}
.alert hr,
.badges hr {
  border-top-color: #111514;
}
.alert .alert-link,
.badges .alert-link {
  color: #1c2321;
}

.alert-success .alert-inner--icon,
.alert-success .alert-inner--text,
.alert-success .alert-heading,
.alert-success .fa-check,
.alert-success p {
  color: #218b52;
}
.alert-success strong {
  color: #218b52;
  font-weight: 700;
}
.alert-success p .fa-check {
  margin: 0 0.5rem;
}

.alert-warning .alert-inner--icon,
.alert-warning .alert-inner--text,
.alert-warning .alert-heading,
.alert-warning p,
.alert-warning p .fa-times {
  color: #d63230;
}
.alert-warning strong {
  color: #d63230;
  font-weight: 700;
}
.alert-warning p .fa-times {
  margin: 0 0.5rem;
}

label {
  display: inline;
}

.toggle:checked ~ .icons-alert-danger {
  display: none;
}

.toggle {
  display: none;
}

.alert .fa-times {
  margin: 0.6rem 0 0 1rem;
  color: #c9c9c6;
}

.Extra-content-Alerts :nth-child(1) {
  margin-bottom: 1rem;
}

.card-container, .form-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3rem;
  align-items: center;
  justify-content: space-evenly;
  margin: 3rem;
}

.card, .card--inset {
  max-width: 20rem;
  border-radius: 0.7rem;
  box-shadow: 1rem 1rem 1rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
}
.card--inset {
  box-shadow: inset 0.5rem 0.5rem 1rem #c9c9c6, inset -0.5rem -0.5rem 1rem #ffffffef;
}
.card__text--center {
  text-align: center;
}
.card__text, .card__text--center {
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}
.card__para {
  margin: 0.8rem 0 1.2rem 0;
}
.card__button, .form__cancel--offset, .form__submit, .form__submit--inset, .card__button--inset, .form__cancel {
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: inline-block;
  box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
}
.card__button:hover, .form__cancel--offset:hover, .form__submit:hover, .form__submit--inset:hover, .card__button--inset:hover, .form__cancel:hover {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c9c9c6, inset -0.2rem -0.2rem 0.5rem #ffffffef;
}
.card__button--inset, .form__cancel, .form__submit--inset {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c9c9c6, inset -0.2rem -0.2rem 0.5rem #ffffffef;
}
.card__img img, .card__img--inside img, .card__img--rounded img {
  width: 100%;
  border-radius: 0.7rem 0.7rem 0 0;
}
.card__img--inside, .card__img--rounded {
  padding: 1.5rem 1.5rem 0 1.5rem;
}
.card__img--inside img, .card__img--rounded img {
  border-radius: 0.7rem;
}
.card__img--rounded img {
  border-radius: 50%;
}
.card__icons--left, .card__icons--center, .card__icons--right {
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.card__icons--left li, .card__icons--center li, .card__icons--right li {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  font-size: 2rem;
  border-radius: 50%;
  justify-content: center;
  box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
}
.card__icons--left li:hover, .card__icons--center li:hover, .card__icons--right li:hover {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c9c9c6, inset -0.2rem -0.2rem 0.5rem #ffffffef;
}
.card__icons--right {
  justify-content: flex-end;
}
.card__icons--right li {
  margin-left: 1rem;
}
.card__icons--center {
  justify-content: center;
}
.card__icons--center li {
  margin: 0.5rem;
}

.switch-holder {
  display: flex;
  padding: 1rem 1.5rem;
  width: 20rem;
  height: 5rem;
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
  justify-content: space-between;
  align-items: center;
}

.switch {
  font-size: 0.9rem;
  width: 100%;
  margin: 0.9rem 0;
  display: flex;
  justify-content: space-around;
}

.switch-label {
  width: 8rem;
}

.switch-label i {
  margin-right: 0.5rem;
}

.switch-toggle {
  height: 2.5rem;
}

.switch-toggle input[type=checkbox] {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

.switch-toggle input[type=checkbox] + label {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  margin: 0;
  cursor: pointer;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c9c9c6, inset -0.2rem -0.2rem 0.5rem #ffffffef;
}

.switch-toggle input[type=checkbox] + label::before {
  position: absolute;
  content: "OFF";
  font-size: 0.65rem;
  text-align: center;
  line-height: 1.5rem;
  top: 0.5rem;
  left: 0.5rem;
  width: 2.8rem;
  height: 1.5rem;
  border-radius: 1.25rem;
  background-color: #e6e7ee;
  box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
  transition: 0.3s ease-in-out;
}

.switch-toggle input[type=checkbox]:checked + label::before {
  left: 30%;
  content: "ON";
  color: #067bc2;
  box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
}

.toggle-switch {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 44%;
  box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
  border-radius: 5rem;
}

.slider {
  position: absolute;
  -webkit-appearance: none;
  height: 5rem;
  width: 10rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c9c9c6, inset -0.2rem -0.2rem 0.5rem #ffffffef;
  cursor: pointer;
  left: 1rem;
  outline: none;
  border-radius: 3rem;
}

.slider:before,
.slider:after {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  transition: 0.3s;
}

.slider:before {
  height: 3rem;
  width: 3rem;
  background-color: #e6e7ee;
  border-radius: 50%;
  box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
  left: 1rem;
}

.slider:after {
  height: 1rem;
  width: 1rem;
  background-color: #e6e7ee;
  border-radius: 50%;
  right: -4rem;
}

.slider:checked:before {
  left: 6rem;
}

.slider:checked:after {
  background-color: #218b52;
}

.button {
  width: 8rem;
  height: 3rem;
  background: #e6e7ee;
  position: relative;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.button span {
  line-height: 3rem;
  font-size: 1rem;
  font-weight: 300;
}

.button-click {
  box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
  color: #067bc2;
}
.button-click:active {
  opacity: 0.8;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c9c9c6, inset -0.2rem -0.2rem 0.5rem #ffffffef;
  color: #218b52;
}

.button-hover {
  box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
  color: #067bc2;
}
.button-hover:hover {
  opacity: 0.3;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c9c9c6, inset -0.2rem -0.2rem 0.5rem #ffffffef;
}

.button-clicked {
  opacity: 0.8;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c9c9c6, inset -0.2rem -0.2rem 0.5rem #ffffffef;
  color: #218b52;
}

.social-media-circle {
  margin: 0 8rem;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-center_space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttons-container {
  width: 60%;
  flex-wrap: wrap;
}

.social-button {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  box-shadow: 1rem 1rem 1rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
  margin-bottom: 1em;
}
.social-button:hover {
  cursor: pointer;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c9c9c6, inset -0.2rem -0.2rem 0.5rem #ffffffef;
}

.facebook:hover {
  color: #292929;
}

.twitter:hover {
  color: #1da1f2;
}

.instagram:hover {
  color: #218b52;
}

.github:hover {
  color: black;
}

.social-media-bar {
  padding: 1rem 1.5rem;
  border: #e6e7ee;
  border-radius: 10px;
  margin: 1rem;
  font-size: 0.875rem;
  border: 0.0625rem solid #f3f3f3;
  cursor: pointer;
}
.social-media-bar .alert-inner--icon {
  font-size: 1.25rem;
  margin-right: 0.375rem;
}
.social-media-bar .alert-inner--text {
  display: inline-block;
  font-weight: 300;
}
.social-media-bar .alert-inner--text a {
  font-weight: 500;
}
.social-media-bar hr {
  border-top-color: #111514;
}
.social-media-bar .alert-link {
  color: #1c2321;
}
.social-media-bar:active {
  opacity: 0.8;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c9c9c6, inset -0.2rem -0.2rem 0.5rem #ffffffef;
}

.facebook .alert-inner--icon,
.facebook .alert-inner--text,
.facebook .alert-heading,
.facebook facebook .fa-facebook-f,
.facebook p {
  color: #292929;
}
.facebook strong {
  color: #292929;
  font-weight: 700;
}

.twitter .alert-inner--icon,
.twitter .alert-inner--text,
.twitter .alert-heading,
.twitter twitter .fa-twitter,
.twitter p {
  color: #1da1f2;
}
.twitter strong {
  color: #1da1f2;
  font-weight: 700;
}

.github .alert-inner--icon,
.github .alert-inner--text,
.github .alert-heading,
.github github .fa-github,
.github p {
  color: black;
}
.github strong {
  color: black;
  font-weight: 700;
}

.social-media-text {
  margin-left: 0.5rem;
}

.switch-holder {
  display: flex;
  padding: 1rem 1.5rem;
  width: 20rem;
  height: 5rem;
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
  justify-content: space-between;
  align-items: center;
}

.switch {
  font-size: 0.9rem;
  width: 100%;
  margin: 0.9rem 0;
  display: flex;
  justify-content: space-around;
}

.switch-label {
  width: 8rem;
}

.switch-label i {
  margin-right: 0.5rem;
}

.switch-toggle {
  height: 2.5rem;
}

.switch-toggle input[type=checkbox] {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

.switch-toggle input[type=checkbox] + label {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  margin: 0;
  cursor: pointer;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c9c9c6, inset -0.2rem -0.2rem 0.5rem #ffffffef;
}

.switch-toggle input[type=checkbox] + label::before {
  position: absolute;
  content: "OFF";
  font-size: 0.65rem;
  text-align: center;
  line-height: 1.5rem;
  top: 0.5rem;
  left: 0.5rem;
  width: 2.8rem;
  height: 1.5rem;
  border-radius: 1.25rem;
  background-color: #e6e7ee;
  box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
  transition: 0.3s ease-in-out;
}

.switch-toggle input[type=checkbox]:checked + label::before {
  left: 30%;
  content: "ON";
  color: #067bc2;
  box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
}

.toggle-switch {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 44%;
  box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
  border-radius: 5rem;
}

.slider {
  position: absolute;
  -webkit-appearance: none;
  height: 5rem;
  width: 10rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c9c9c6, inset -0.2rem -0.2rem 0.5rem #ffffffef;
  cursor: pointer;
  left: 1rem;
  outline: none;
  border-radius: 3rem;
}

.slider:before,
.slider:after {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  transition: 0.3s;
}

.slider:before {
  height: 3rem;
  width: 3rem;
  background-color: #e6e7ee;
  border-radius: 50%;
  box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
  left: 1rem;
}

.slider:after {
  height: 1rem;
  width: 1rem;
  background-color: #e6e7ee;
  border-radius: 50%;
  right: -4rem;
}

.slider:checked:before {
  left: 6rem;
}

.slider:checked:after {
  background-color: #218b52;
}

.tooltip-page {
  margin: 2rem;
}
.tooltip-page .flex, .tooltip-page .form .inline-inputs, .form .tooltip-page .inline-inputs, .tooltip-page .form--inset .inline-inputs, .form--inset .tooltip-page .inline-inputs, .tooltip-page .form__terms, .tooltip-page .form__terms--center, .tooltip-page .form__img, .tooltip-page .card__icons--left, .tooltip-page .card__icons--left li, .card__icons--left .tooltip-page li, .tooltip-page .card__icons--right, .tooltip-page .card__icons--right li, .card__icons--right .tooltip-page li, .tooltip-page .card__icons--center, .tooltip-page .card__icons--center li, .card__icons--center .tooltip-page li {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
}

.tooltip {
  padding: 0.5rem 1rem;
  box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
  border-radius: 5px;
  position: relative;
  transition: all 1s ease-in-out;
}

.tooltip:hover {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c9c9c6, inset -0.2rem -0.2rem 0.5rem #ffffffef;
}
.tooltip:hover > .tooltip-top, .tooltip:hover > .tooltip-bottom, .tooltip:hover > .tooltip-left, .tooltip:hover > .tooltip-right {
  display: block;
}

.tooltip-top,
.tooltip-bottom,
.tooltip-left,
.tooltip-right {
  display: none;
  position: absolute;
  padding: 0.25rem 0.8rem;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
}

.tooltip-top {
  text-align: center;
  top: -3.5rem;
  right: 0;
  left: 0;
  z-index: 2;
}
.tooltip-top::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-size: 1.5rem;
  font-weight: 900;
  color: #c9c9c6;
  position: absolute;
  bottom: -100%;
  right: 40%;
  z-index: 0;
}

.tooltip-bottom {
  text-align: center;
  bottom: -3.5rem;
  right: 0;
  left: 0;
}
.tooltip-bottom::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-size: 1.5rem;
  font-weight: 900;
  color: #c9c9c6;
  position: absolute;
  bottom: 80%;
  right: 40%;
  z-index: 0;
}

.tooltip-left {
  text-align: center;
  top: 10%;
  right: 100%;
  left: -100%;
  margin-right: 1.5rem;
}
.tooltip-left::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-size: 1.5rem;
  font-weight: 900;
  color: #c9c9c6;
  position: absolute;
  right: -20%;
  top: -5%;
  z-index: 0;
}

.tooltip-right {
  text-align: center;
  left: 100%;
  top: 10%;
  margin-left: 1.5rem;
}
.tooltip-right::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-size: 1.5rem;
  font-weight: 900;
  color: #c9c9c6;
  position: absolute;
  left: -25%;
  top: -8%;
  z-index: 0;
}

.form, .form--inset {
  max-width: 25rem;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
}
.form--inset {
  box-shadow: inset 0.5rem 0.5rem 1rem #c9c9c6, inset -0.5rem -0.5rem 1rem #ffffffef;
}
.form__title, .form__title--center {
  margin-bottom: 1rem;
}
.form__title--center {
  text-align: center;
}
.form__img {
  justify-content: center;
  margin: 1rem;
}
.form__img img {
  border-radius: 50%;
}
.form input, .form--inset input,
.form button,
.form--inset button {
  border: 0;
  outline: 0;
  background: transparent;
}
.form [type=checkbox], .form--inset [type=checkbox] {
  margin-right: 0.3rem;
}
.form label, .form--inset label {
  font-weight: 500;
  font-size: 1rem;
}
.form__input, .form__input--offset, .form__input--inline {
  width: 100%;
  margin: 0.5rem 0 1rem 0;
  border-radius: 0.5rem;
  padding: 0.7rem 1rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c9c9c6, inset -0.2rem -0.2rem 0.5rem #ffffffef;
}
.form__input--inline {
  display: inline-block;
  margin: 0;
  max-width: 13rem;
}
.form__input--offset {
  box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
}
.form__submit, .form__submit--inset {
  margin-top: 0.5rem;
  padding: 0.7rem 1.5rem;
}
.form__center-container {
  text-align: center;
}
.form__terms, .form__terms--center {
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.5rem;
}
.form__terms--center {
  justify-content: center;
}
.form__options {
  margin-top: 1.5rem;
}
.form .inline-inputs, .form--inset .inline-inputs {
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}

.trikone__main__hero {
  background-image: url(../images/pollack.svg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 10rem 1rem 5rem 1rem;
}
.trikone__main__hero img {
  width: 100%;
}
.trikone__main__hero__punchline {
  font-size: 6rem;
  line-height: 8rem;
}
.trikone__main__hero__punchline span {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  word-break: break-all;
  word-break: break-word;
}
@media (max-width: 768px) {
  .trikone__main__hero__punchline {
    font-size: 5rem;
    line-height: 6rem;
  }
}
.trikone__main__benefits .container {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}
.trikone__main__focus {
  text-align: center;
  padding: 5rem 1rem;
}
.trikone__main__focus__punchline {
  font-size: 6rem;
  line-height: 8rem;
}
@media (max-width: 768px) {
  .trikone__main__focus__punchline {
    font-size: 4rem;
    line-height: 6rem;
  }
}

.neumorphism__main__hero {
  padding-top: 10rem;
}
.neumorphism__main__component-links .grid {
  grid-template-columns: repeat(auto-fit, 150px);
}
.neumorphism__main__all-components__component {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0.5rem 2rem;
  padding: 1rem;
}
.neumorphism__main__all-components__component .component-html {
  padding: 0 1rem;
}
.neumorphism__main__all-components__component .component-style {
  padding: 0 1rem;
}

/*---------------------------------------------
Component - Footer
---------------------------------------------*/
.trikone__footer {
  text-align: center;
  padding: 5rem 2rem;
  background-color: #e6e7ee;
  color: #1c2321;
}
.trikone__footer a:not(.logo):hover {
  color: #ffa400;
}
.trikone__footer__nav-items {
  display: flex;
  justify-content: center;
  max-width: 22rem;
  margin: 0 auto;
  padding: 1rem 0;
}
.trikone__footer__nav-item {
  margin-right: 20px;
}
.trikone__footer__nav-item a {
  font-weight: 700;
}
.trikone__footer__nav-item img {
  width: 2rem;
}
.trikone__footer__nav-item:last-child {
  margin-right: 0;
}

.trikone__header {
  padding: 1.5rem 0 0.5rem 0;
  background-color: #e6e7ee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
}
.trikone__header .container {
  display: flex;
  justify-content: space-between;
}
.trikone__header__nav__ul {
  display: flex;
}
.trikone__header__nav-items {
  margin-left: 10px;
  font-weight: 700;
}
.trikone__header__nav-items :last-child {
  margin-left: 0;
}
.trikone__logo {
  font-weight: 700;
  display: flex;
}
.trikone__logo img {
  width: 2rem;
  margin-right: 10px;
}

/* ---------------------------------------------------------------
Gists
--------------------------------------------------------------- */
body .gist .gist-data {
  background-color: #dddddd;
}
body .gist .blob-wrapper {
  border-radius: 0;
}
body .gist .highlight {
  font-family: "Droid Sans Mono", monospace;
  background-color: transparent;
  font-size: 16px;
}
body .gist .highlight td {
  line-height: 1.5;
  font-family: inherit;
  font-size: inherit;
}
body .gist .blob-num {
  color: #eef0f2;
  background-color: #067bc2;
  pointer-events: none;
}
body .gist .gist-meta {
  display: none;
}

.badges {
  padding: 0.2rem 0.4rem;
  border-radius: 10px;
  font-size: 0.5rem;
  text-align: center;
}
.badges .alert-inner--icon {
  font-size: 1.25rem;
  margin-right: 0.375rem;
}
.badges .badges-text {
  display: inline-block;
  font-weight: 500;
}
.badges .badges-text a {
  font-weight: 500;
}

.badge-normal {
  color: #1c2321;
}

.badge-sucess {
  color: #218b52;
}

.badge-warning {
  color: #d63230;
}

.badge-test {
  color: #067bc2;
}

.state {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.00001;
  pointer-events: none;
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #1c2321;
}

.text {
  margin-left: 1rem;
  opacity: 0.6;
  transition: opacity 0.2s linear, transform 0.2s ease-out;
}

.indicator {
  position: relative;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
  overflow: hidden;
}

.indicator::before,
.indicator::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

.indicator::before {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c9c9c6, inset -0.2rem -0.2rem 0.5rem #ffffffef;
}

.indicator::after {
  background-color: #e6e7ee;
  box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
  transform: scale3d(1, 1, 1);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.state:checked ~ .label .indicator::after {
  transform: scale3d(0.975, 0.975, 1) translate3d(0, 10%, 0);
  opacity: 0;
}

.state:focus ~ .label .text {
  transform: translate3d(8px, 0, 0);
  opacity: 1;
}

.label:hover .text {
  opacity: 1;
}

.blink-sucess {
  color: #218b52;
}

.blink-failed {
  color: #d63230;
}

.blink-test {
  color: #067bc2;
}

.blink-confirm {
  color: #ffa400;
}

/* ---------------------------------------------------------------
Project Specific Styles
--------------------------------------------------------------- */

/*# sourceMappingURL=main.css.map */
